@keyframes pop {
  /* line 59, ../sass/modules/_chat.scss */
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(-10px); }

  /* line 63, ../sass/modules/_chat.scss */
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); }
}
