.bubble__field{
	margin-top: 7px;
}

.bubble__input-label{
    font-size: 0.85em;
    margin-bottom: 5px;
    + .bubble__input{
        margin-top: 0;
    }
}

.bubble__input{
	border: 0;
    font-size: 1rem;
	&,
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder{
		color: darken( $user-bubble-bg, 35% );
	}
	&:-moz-placeholder{
		color: darken( $user-bubble-bg, 35% );
	}
	&::-moz-placeholder{
		color: darken( $user-bubble-bg, 35% );
	}
	&:-ms-input-placeholder{
		color: darken( $user-bubble-bg, 35% );
	}
	&::-ms-input-placeholder{
		color: darken( $user-bubble-bg, 35% );
	}
}

.bubble__input--text,
.bubble__input--tel,
.bubble__input--email,
.bubble__input--select,
.bubble__input--textarea{
	width: 100%;
    -webkit-appearance: none;
    background: #fff;
    border: 0;
    padding: 11px 12px;
    font-size: 16px;
}

.bubble__input--select{
    padding-right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1030 638'%3E%3Cpath fill='#{$user-bubble-bg}' d='M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: right 12px center;
}

.bubble__input--text,
.bubble__input--tel,
.bubble__input--email{
    height: 41px;
	background: transparent;
	color: darken( $user-bubble-bg, 50% );
	border-bottom: 1px solid darken( $user-bubble-bg, 25% );
}

.bubble__radios{

	position: relative;

	label{

		display: block;
		width: 100%;
		text-align: center;
		font-weight: 700;
		font-size: 15px;
		background: darken( $user-bubble-bg, 25% );
		border: 0;
		margin: 0;
		padding: 12px;
		line-height: 1.25;
		color: #fff;
		cursor: pointer;

		&:first-of-type{
			border-radius: 4px 4px 0 0;
		}
		&:last-of-type{
			border-radius: 0 0 4px 4px;
		}

		&:focus,
		&:active,
		&:hover{
			background: darken( $user-bubble-bg, 35% );
			color: #fff;
		}
	}

	input{
		position: absolute;
		opacity: 0;
		left: 0;
	}

	input:checked + label{
		background: darken( $user-bubble-bg, 35% ) !important;
		color: #fff !important;
	}

	input:disabled + label{
		display: none;
		&:focus,
		&:active,
		&:hover{
			background: darken( $user-bubble-bg, 25% );
			color: #fff;
			cursor: not-allowed;
		}
	}
	input:disabled:checked + label{
		display: block !important;
	}

}
