$color1: rgba(255, 205, 0, 1);
$color2: rgba(6, 174, 213, 1);
$color3: #2a384c;
$color4: #5DD9C1;

// Bubbles

$bubble-border-radius: 20px;

$bot-bubble-bg: #e5e5ea;
$bot-bubble-txt: #000;
$bot-avatar-img: 'https://lh3.googleusercontent.com/-DkXZS-zu2SI/AAAAAAAAAAI/AAAAAAAAAK8/ydx7bCEQ2MM/s120-p-rw-no/photo.jpg';

$user-bubble-bg: #2792f5;
$user-bubble-txt: #fff;

// Breakpoints

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
